.bert_models
gender_cls
.idea/
__pycache__/
venv/
*.csv
*.json
.DS_Store
dcard
ppt1
ppt2
PassiveAggressiveModel
albertFeatureBase
albertFineTunning
bertFeatureBase/
bertSqeCls
.albert_models
xgboost
test.py
stopword
terms
test_data
train_data